
.container-grid{
    display: grid;
    grid-template-columns: 2% 24% 24% 24% 24% 2%;
    grid-template-rows: 20% 20% 60% 0%;
}


html {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 80;
    font-size:43px;
}

/*header*/
.header-grid-position{
    grid-area:1/2/2/6
}

.header-grid{
    display: grid;
    grid-template-columns:5% 90% 5% ;
    grid-template-rows: 100%;
}

.header-column{
    grid-area:2/2/3/6;
    align-self:center;
    justify-self:center;
   

}

/*scores*/
.stars-column, .moves-column, .timer-column, .restart-column{
    font-size:30px;
    align-self: center;
    justify-self: center;
    grid-gap:10px;
    margin-bottom:10px;
}

.stars-column{
   grid-area:2/2/3/4;
    justify-self:left;

}
.moves-column{
   grid-area:2/4/3/6;
   justify-self:right;

}

.timer-column{
   grid-area:4/3/5/5;
    
}
.restart-column{
    grid-area:2/3/3/5;
}

.stars {
    margin: 0;
    padding: 0;
}

.stars li {
    list-style: none;
    display: inline-block;
}
.starsOn{
    color: gold;
}
 .fa-repeat {
    cursor: pointer;
}

/*deck*/
.deck-grid-position{
    align-self:center;
    justify-self:center;
    grid-area:3/2/4/6
}

.deck-grid{
    align-self:center;
    justify-self:center;
    display:inline-grid;
    grid-template-columns: repeat(auto-fit:25%);
    grid-template-rows: repeat(auto-fit:25%);
    grid-gap:10px;
}


.deck {
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

li.card{
  align-self: center;
  justify-self: center;
  width:19vw;
  height:19vw;

}
 .card {
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 50px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 50px;
}
.stopClick{
    pointer-events: none;
}


/* 
*cards position
 */
 
#card1{
    grid-column-start: 1;
    grid-row-start: 1;
}
#card2{
    grid-column-start: 2;
    grid-row-start: 1;
    
}
#card3{
    grid-column-start: 3;
    grid-row-start: 1;
    
}
#card4{
    grid-column-start: 4;
    grid-row-start: 1;
    
}
#card5{
    grid-column-start: 1;
    grid-row-start: 2;
    
}
#card6{
    grid-column-start: 2;
    grid-row-start: 2;
    
}
#card7{
    grid-column-start: 3;
    grid-row-start: 2;
    
}
#card8{
    grid-column-start: 4;
    grid-row-start: 2;
    
}
#card9{
    grid-column-start: 1;
    grid-row-start: 3;
    
}
#card10{
    grid-column-start: 2;
    grid-row-start: 3;
    
}
#card11{
    grid-column-start: 3;
    grid-row-start: 3;
    
}
#card12{
    grid-column-start: 4;
    grid-row-start: 3;
    
}
#card13{
    grid-column-start: 1;
    grid-row-start: 4;
    
}
#card14{
    grid-column-start: 2;
    grid-row-start: 4;
    
}
#card15{
    grid-column-start: 3;
    grid-row-start: 4;
    
}
#card16{
    grid-column-start: 4;
    grid-row-start: 4;
    
}

/*
*styles for the modal window
*/

.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #02ccba33 0%, #aa7ecd5c 100%);
    visibility: hidden;
    transform: scale(1.1);
}

.modal-title{
    font-size:40px;

}

.mo-content{
    display:grid;
    grid-template-columns:100%;
    grid-template-rows:1% 24% 55% 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:white;
    padding: 1rem 1.5rem;
    width: 80vw;
    height:40vh;
    border-radius: 0.5rem;
    font-size:25px; 
}

.close-modal{
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size:50px;
}

.close-button:hover {
    background-color: darkgray;
}
.m-title-cont{
    grid-row-start:2;
    align-self:center;
    justify-self:center;
}

.score-cont{
    grid-row-start:3;
    align-self:center;
    justify-self:center;

}
.play-button{
    grid-row-start:4;
    align-self:center;
    justify-self:center;
}
.play-again{
    font-size:40px;
    background:linear-gradient(to right, #02ccba1f 0%, #aa7ecd52 100%)
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
/* Media queries  */
@media screen and (min-width:400px){
    .timer-column, .stars-column, .moves-column,  .restart-column{
        font-size:40px;
    }
    h1{
        font-size:49px;
    }
    li.card{
        width:20vw;
        height:20vw;
    }
}

@media screen and (min-width:500px){
    .timer-column, .stars-column, .moves-column,  .restart-column{
        font-size:30px;
    }
    .restart-column{
        grid-area:2/5/3/6
    }
    .moves-column{
        grid-area:2/3;
       
    }
    .timer-column{
        grid-area:2/4;
    }

}
@media screen and (min-width:600px){
    .timer-column, .stars-column, .moves-column,  .restart-column{
        font-size:39px;
    }
    
    .stars-column{
        grid-area:2/2;
        justify-self:left;
    }
    .timer-column{
        grid-area:2/5/3/4;
    }
    h1{
        font-size:70px;
    }
}

@media screen and (min-width:700px){
    h1{
        margin-bottom:20px;
    }
    .timer-column, .stars-column, .moves-column,  .restart-column{
        font-size:42px;
        justify-self:right;
    }
    .stars-column{
        justify-self:left;
    }
    .moves-column{
        padding-left:25px;
        grid-area:2/3/3/5;
        padding-right:130px;
    }
    .timer-column{
        grid-area:2/5/3/5;
        padding-right:100px;
    }
    li.card{
        width:130px;
        height:130px;
    }
    .deck-grid{
        grid-gap:25px;
    }
    .container-grid{
        grid-template-columns:  1fr 160px 160px 160px 160px 1fr ;
       
    }
    .modal-title{
        font-size:55px;
    }
    .modal-text{
        font-size:38px;
    }
    .mo-content{
        max-width:625px;
        max-height:395px;
    }
}