/*grid*/
.continer-grid{
    display: grid;
    grid-template-columns: 35% 30% 35%;
    grid-template-rows: 10% 10% 70% 10%
}
/*header*/
.header-grid{
    grid-column-start: 2;
    display: grid;
    grid-template-columns:35% 30% 35% ;
    grid-template-rows: 100%;
}
.header-column{
    grid-column-start: 2;
    grid-column-end:3;
    margin: auto;
}

/*scores*/
.score-grid{
    display: grid;
    grid-template-columns:20% 15% 15% 15% 15% 20%;
    grid-template-rows: 100%;
}
.stars-column{
    grid-column-start: 2;
    grid-column-end:3;
}
.moves-column{
    grid-column-start: 3;
    grid-column-end:4;
}
.timer-column{
    grid-column-start: 4;
    grid-column-end:5;
}
.restart-column{
    grid-column-start: 5;
    grid-column-end:6;
}

/*deck*/
#deck-grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}
#card1{

}
#card2{
    
}
#card3{
    
}
#card4{
    
}
#card5{
    
}
#card6{
    
}
#card7{
    
}
#card8{
    
}
#card9{
    
}
#card10{
    
}
#card11{
    
}
#card12{
    
}
#card13{
    
}
#card14{
    
}
#card15{
    
}
#card16{
    
}
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    width:100%;
}

.flex{
    display:flex;
    flex-wrap:wrap;
}

.score-panel{
    width:100%;

}
.stars-container{
    width:30%;
}
.moves-time{
    width:55%;
}
.restart{
    width:15%;
}
.deck-container{
    width:100%;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}
.stopClick{
    pointer-events: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}
.starsOn{
    color: gold;
}
.score-panel .restart {
    float: right;
    cursor: pointer;
}
.moves{
    margin-left: 15%;
}

/*
*styles for the modal window
*/
.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: linear-gradient(to right, #009fff, #ec2f4b);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
}

.mo-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-modal{
        float: right;
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        cursor: pointer;
        border-radius: 0.25rem;
        background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/*
*styles for timer
*/
.timer{
    margin-left: 15%;
}