

.container-grid{
    display: grid;
    grid-template-columns: 2% 96% 2%;
    grid-template-rows: 20% 20% 60% 0%;
}


html {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 80;
    font-size:115px;
}

/*header*/
.header-grid-position{
    grid-column-start: 2;
    grid-row-start: 1;
}

.header-grid{
    display: grid;
    grid-template-columns:5% 90% 5% ;
    grid-template-rows: 100%;
}

.header-column{
    grid-column-start: 2;
    grid-column-end:3;

}

/*scores*/
.stars-column, .moves-column, .timer-column, .restart-column{
    font-size:60px;
    align-self: center;
    justify-self: center;
    grid-gap:50px;
    margin-bottom:50px;
}

.stars-column{
    grid-column-start: 2;
    grid-row-start:2;
    justify-self:left;
    font-size:90px;
   
   
}
.moves-column{
    grid-column-start: 2;
    grid-row-start:2;
    justify-self:right;
    font-size:90px;
}

.timer-column{
    grid-column-start: 2;
    grid-row-start:4;
    font-size:115px;
    margin-top:50px;
}
.restart-column{
    grid-column-start: 2;
    grid-row-start:2;

}

.stars {
    margin: 0;
    padding: 0;
}

.stars li {
    list-style: none;
    display: inline-block;
}
.starsOn{
    color: gold;
}
 .fa-repeat {
    cursor: pointer;
}

/*deck*/
.deck-grid-position{
    align-self:center;
    justify-self:center;
    grid-column-start: 2;
    grid-row-start: 3;
}

.deck-grid{
    align-self:center;
    justify-self:center;
    display:inline-grid;
    grid-template-columns: repeat(auto-fit:25%);
    grid-template-rows: repeat(auto-fit:25%);
    grid-gap:20px;
}


.deck {
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

li.card{
  align-self: center;
  justify-self: center;
  width:200px;
  height:200px;

}
 .card {
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 70px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 70px;
}
.stopClick{
    pointer-events: none;
}


/* 
*cards position
 */
 
#card1{
    grid-column-start: 1;
    grid-row-start: 1;
}
#card2{
    grid-column-start: 2;
    grid-row-start: 1;
    
}
#card3{
    grid-column-start: 3;
    grid-row-start: 1;
    
}
#card4{
    grid-column-start: 4;
    grid-row-start: 1;
    
}
#card5{
    grid-column-start: 1;
    grid-row-start: 2;
    
}
#card6{
    grid-column-start: 2;
    grid-row-start: 2;
    
}
#card7{
    grid-column-start: 3;
    grid-row-start: 2;
    
}
#card8{
    grid-column-start: 4;
    grid-row-start: 2;
    
}
#card9{
    grid-column-start: 1;
    grid-row-start: 3;
    
}
#card10{
    grid-column-start: 2;
    grid-row-start: 3;
    
}
#card11{
    grid-column-start: 3;
    grid-row-start: 3;
    
}
#card12{
    grid-column-start: 4;
    grid-row-start: 3;
    
}
#card13{
    grid-column-start: 1;
    grid-row-start: 4;
    
}
#card14{
    grid-column-start: 2;
    grid-row-start: 4;
    
}
#card15{
    grid-column-start: 3;
    grid-row-start: 4;
    
}
#card16{
    grid-column-start: 4;
    grid-row-start: 4;
    
}

/*
*styles for the modal window
*/

.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #02ccbabf 0%, #aa7ecd94 100%);
    visibility: hidden;
    transform: scale(1.1);
}

.mo-content{
    display:grid;
    grid-template-columns:100%;
    grid-template-rows:1% 24% 55% 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:linear-gradient(to right, #e0eafc, #cfdef3);
    padding: 1rem 1.5rem;
    width: 90vw;
    height:40vh;
    border-radius: 0.5rem;
    font-size:60px; 
}

.close-modal{
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
    font-size:100px;
}

.close-button:hover {
    background-color: darkgray;
}
.m-title-cont{
    grid-row-start:2;
    align-self:center;
    justify-self:center;
}

.score-cont{
    grid-row-start:3;
    align-self:center;
    justify-self:center;

}
.play-button{
    grid-row-start:4;
    align-self:center;
    justify-self:center;
}
.play-again{
    font-size:80px;
    background:linear-gradient(to right, #02ccba1f 0%, #aa7ecd52 100%)
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}